general {
  mode "wm-only"
}

layout {
  strip-scroll-step 240
  default-column-mode "normal"
  default-column-width "fraction" 1 2
}

input {
  bind-control-mode "coexistence"
  touchpad-override true
  touchpad-gesture "three-finger-swipe-left" "focus-next"
  touchpad-gesture "three-finger-swipe-right" "focus-prev"
  touchpad-gesture "four-finger-swipe-up" "toggle-overview"
  touchpad-gesture "four-finger-swipe-down" "toggle-overview"
  hotkey "Win+H" "focus-prev"
  hotkey "Win+J" "focus-next"
  hotkey "Win+Ctrl+Shift+F" "toggle-floating"
  hotkey "Win+Ctrl+Shift+Space" "toggle-fullscreen"
  hotkey "Win+Ctrl+Shift+Backspace" "disable-management-and-unwind"
}

rules {
  rule "float-dialogs" {
    priority 100
    enabled true
    match-class-substring "Dialog"
    actions {
      layer "floating"
    }
  }

  rule "float-settings" {
    priority 110
    enabled true
    match-title-substring "Settings"
    actions {
      layer "floating"
    }
  }
}
